@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: linear-gradient(to bottom, #02010a, #04052e 50%, #22007c 90%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

article, aside {
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    cursor: pointer;
}

header p {
    color: white;
    padding-left: 0.5em;
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
}
  
label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    left: 0;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
    content: "\2713";
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

body:has(#opdeslee:checked) section img {
    animation-play-state: paused;
}

body:has(#firework:checked) div:nth-child(n + 1) {
    animation-play-state: running;
}

header article, aside {
    display: flex;
    z-index: 1;
}

header article {
    padding-right: 2em;
}

input {
    display: none;
}

section {
    position: relative;
}

section svg {
    position: absolute;
}

section img {
    position: absolute;
    offset-path: path("M1 69.2208C148.24 57.4184 233.063 190.082 257.069 257.889C272.907 329.952 446.621 521.4 714.694 511.64C1049.78 499.441 1098.8 280.132 1110.8 228.496C1122.8 176.861 1119.8 46.9206 871.236 9.75443C672.382 -19.9786 555.65 33.1134 522.141 63.3759C451.455 114.16 377.458 251.663 598.162 334.037C846.729 426.81 1127.14 377.332 1235.33 357.188C1297.85 345.84 1434.19 302.432 1479.4 219.588C1524.61 136.744 1741.97 117.168 1845 117.736");
    animation: distance 12s infinite;
    height: 10em;
}

@keyframes distance {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
    }

    100% {
        offset-distance: 100%;
    }
}

div:nth-child(n + 1) {
    position: absolute;
    background-image: 
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent);
    background-position: 
    50% 50%, 
    40% 10%,
    20% 30%,
    60% 80%,
    30% 70%,
    10% 90%,
    100% 50%,
    30% 100%,
    60% 30%,
    10% 70%,
    40% 20%,
    80% 90%,
    30% 20%,
    100% 90%,
    50% 20%,
    70% 30%,
    30% 20%,
    10% 60%;
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: -1;

    /* Code van: https://www.youtube.com/watch?v=DV-guWlH3mM&t=17s&ab_channel=fakebeardprogramming */
}

div:nth-child(1) {
    top: 70%;
    left: 5%;
    background-image: 
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(yellow, transparent);
    background-position: 
    20% 70%, 
    30% 10%,
    40% 30%,
    30% 80%,
    70% 70%,
    10% 100%,
    90% 50%,
    20% 100%,
    50% 30%,
    10% 60%,
    20% 20%,
    80% 70%,
    30% 100%,
    100% 60%,
    50% 20%,
    70% 30%,
    30% 20%,
    10% 60%;
    animation: path 2s infinite;
    animation-delay: 0;
    animation-play-state: paused;
    offset-path: path("M198.673 1C102.673 113 -92.3274 -20.5 53.1726 140C198.673 300.5 218.173 314 135.673 300.5C53.1726 287 -49.8274 564.5 84.6726 597.5C219.173 630.5 240.173 536 198.673 502.5");
}

div:nth-child(2) {
    top: 50%;
    left: 25%;
    background-image: 
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(green, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(yellow, transparent);
    background-position: 
    71% 32%, 
    88% 64%,
    16% 54%,
    60% 48%,
    40% 1%,
    46% 5%,
    83% 43%,
    47% 29%,
    26% 72%,
    82% 30%,
    50% 85%,
    37% 95%,
    61% 18%,
    73% 9%,
    25% 67%,
    59% 8%,
    14% 80%,
    69% 97%;
    animation: path 2s infinite;
    animation-delay: 0.5s;
    animation-play-state: paused;
    offset-path: path("M45 640C8.5 602.333 -39 496.5 63 374.5C165 252.5 118.167 74.3333 82 0.5");
}

div:nth-child(3) {
    top: 90%;
    left: 45%;
    background-image: 
    radial-gradient(green, transparent),
    radial-gradient(red, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent);
    background-position: 
    53% 26%, 
    98% 45%,
    35% 81%,
    19% 74%,
    58% 23%,
    90% 38%,
    30% 75%,
    70% 12%,
    91% 31%,
    60% 89%,
    44% 84%,
    63% 5%,
    68% 47%,
    71% 20%,
    85% 14%,
    33% 80%,
    77% 22%,
    65% 43%;
    animation: path 2s infinite;
    animation-delay: 1s;
    animation-play-state: paused;
    offset-path: path("M2 1L271 84.5L2 203L271 314L2 407.5L271 525");
}

div:nth-child(4) {
    top: 75%;
    left: 65%;
    background-image: 
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(green, transparent),
    radial-gradient(red, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent);
    background-position: 
    13% 91%, 
    86% 11%,
    7% 34%,
    52% 48%,
    58% 23%,
    90% 38%,
    30% 75%,
    70% 12%,
    91% 31%,
    60% 89%,
    44% 84%,
    63% 5%,
    68% 47%,
    71% 20%,
    85% 14%,
    33% 80%,
    77% 22%,
    65% 43%;
    animation-delay: 1.5s;
    animation: path 5s infinite;
    animation-play-state: paused;
    offset-path: path("M78.544 16.4077C177.512 -3.74671 351.758 -20.0702 257.004 75.8717C138.561 195.799 -106.275 138.834 53.5041 275.751C213.283 412.668 87.6856 242.271 175.524 269.254C263.363 296.238 423.142 605.551 242.695 592.059C62.2482 578.567 24.4895 510.608 100.007 500.614C175.524 490.62 224.809 660.517 187.051 689");
}

div:nth-child(5) {
    top: 90%;
    left: 92.5%;
    background-image: 
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent),
    radial-gradient(green, transparent),
    radial-gradient(red, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(cyan, transparent),
    radial-gradient(yellow, transparent),
    radial-gradient(green, transparent),
    radial-gradient(purple, transparent),
    radial-gradient(blue, transparent),
    radial-gradient(red, transparent);
    background-position: 
    13% 91%, 
    86% 11%,
    7% 34%,
    52% 48%,
    58% 23%,
    90% 38%,
    30% 75%,
    70% 12%,
    91% 31%,
    60% 89%,
    44% 84%,
    63% 5%,
    68% 47%,
    71% 20%,
    85% 14%,
    33% 80%,
    77% 22%,
    65% 43%;
    animation-delay: 2s;
    animation: path 3s infinite;
    animation-play-state: paused;
    offset-path: path("M259 1C138.902 13.3013 -75.3092 52.5825 28.6315 111.297C158.557 184.69 287.983 109.224 182.044 288.353C76.1044 467.482 -40.3291 153.591 63.6115 467.482C167.552 781.373 153.06 434.725 192.538 435.554");
}

@keyframes path {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }

    50% {
        width: 1rem;
        height: 1rem;
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    100% {
        width: 30rem;
        height: 30rem;
        opacity: 0;
        offset-distance: 100%;
    }
}
